.box{
    width: 100px; height: 100px;
    background-color: tomato;
    border:2px solid aquamarine
}

.box2{
    /*position= 요소위치 지정 속성*/
    /*static= 기본값,정적(위치변경X)*/
    position: static;
    left: 50px;
}

.box3{
    /*relative: 상대위치(원래있던 위치 기준)*/
    position: relative;
    top:50px; /*top(위)에서부터 50px 아래
                -50px(음수)면 위로이동*/
    left:50px; /*left(왼쪽)에서부터 50px오른쪽
                -50px면 왼쪽으로 이동*/
}

.box4{
    /*absolute: 절대위치(부모요소 기준)*/
    position: absolute;
    top:50px;
    left:50px; /*부모요소인 body기준 top/left 50px 씩 이동*/
}

.box5{
    /*디바이스(화면)위치 고정*/
    position: fixed;
    top:50px;
    left:50px;
    /*z-index: position사용 요소들간 우선순위(위아래)지정. 숫자가 클수록 앞*/
    z-index: -1;
}

.header{
    display: flex; background-color: beige;
    position: sticky; /*디바이스(화면)에서 벗어나면 위치고정. 상단메뉴에 주로 사용*/
    top: 0px;
}

.header>ul{
    display: flex;
}