/*레이아웃 확인용*/
*{
    border: solid 2px red;
}

/*헤더*/
/*li 글머리제거*/
li{ 
    list-style-type: none;
} 

#header{
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user_menu>ol{
    display: flex;
    justify-content: end;
    margin:0;
    font-size: 10px;
}

.main_menu>ol{
    display: flex;
    margin:0;
    font-weight: border;
}

.main_menu>ol>li{
    margin: 0 10px;
}

#main_img>img{
     width: 100%;
}

/*바디*/

/*푸터*/
.footer{
    background-color:#06334f ;
}
.in-footer{
    width: 1280px;
    margin: 0 auto;
}

.footer-1{
    display: flex;
    justify-content: left;
    margin: 0 auto;

    list-style-type: none;
    color: white;
    padding-left: 0px;
}

.footer-1 > li{
    margin-right: 15px ;
}


.footer-2{
    display: flex;
    justify-content: space-between;
    color: white;
}

.p{
   margin-top: 5px;    /* 위쪽 여백 조절 */
  margin-bottom: 5px; 
}

