/*레이아웃 확인용*/
/* *{
    border: solid 2px red;
} */

/*헤더*/
/*li 글머리제거*/
li{ 
    list-style-type: none;
} 

#header{
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user_menu>ol{
    display: flex;
    justify-content: end;
    margin:0;
    font-size: 10px;
}

.main_menu>ol{
    display: flex;
    justify-content: end;
    margin:0;
    font-weight: border;
}

.user_menu>ol>li{
    margin: 5px 5px;
}

.main_menu>ol>li{
    margin-left: 20px;
}

#main_img>img{
     width: 100%;
}

/*바디*/
#main{
    display: flex;
    width: 1280px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
}

#sideBar{
    width: 320px;
}
#sideBar-main {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

#sideBar>div{
    padding: 10px;
}

#sideBar>div>input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin:0 2px;
}
#sideBar>div>button {
    height: 35px;
}
#sideBar>#boldText{
    font-weight: bold;
    font-size: 25px;
    border-top: 3px solid black;
    border-bottom: 1px solid gray;
}
#content{
    display: flex;
    /* width: 940px; */
    margin: 10px;
}

#left-content>#boldText{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid black;
}

#left-content{
    width: 468px;
}
#left-content>#content{
    display: flex;
    justify-content: space-between;
}
#left-content>div{
    margin: 10px;
}
#right-content{
    width: 468px;
    flex-wrap: flex;
    justify-content: flex-start;
}
#right-content>#boldText{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid black;
    margin: 7px;
}


#contents-row{
    display: flex;
    justify-content: flex-start;
}
#contents-row>div{
    margin: 5px;
}


/*푸터*/
.footer{
    background-color:#06334f ;
}
.in-footer{
    width: 1280px;
    margin: auto;
}

.footer-1{
    display: flex;
    justify-content: left;
    margin: 0 auto;

    list-style-type: none;
    color: white;
    padding-left: 0px;
}

.footer-1 > li{
    margin-right: 15px ;
}


.footer-2{
    display: flex;
    justify-content: space-between;
    color: white;
}

.p{
   margin-top: 5px;    /* 위쪽 여백 조절 */
  margin-bottom: 5px; 
}

